:root {
  --header-bg-color: #5C524D;
  --header-height: 100px;
  --nav-link-active-color: #86EAAE;

  --search-container-bg-color: #E5E5E5;
  --search-bg-color: #ffffff;
  --event-info-highlight-color: #FC732F;
  --event-text-color: #212121;
  --border-color: #D5D5D5;
}
